.inputFieldsFull {
    width: 100%;
}

.inputFieldshalf {
    width: 48.5%;
}

.inputFieldsquarter {
    width: 24%;
}

.inputFieldsFull.erroeBoxTrue input {

    border-color: #B91C1C;
}

.inputFieldsFull label{ width: 100%; padding: 0 0 10px 0; display: flex;}


.inputFieldsFull textarea{
    width: 100%;
    height: 108px;
    background: #fff;
    border: 1px solid #E5E1E6;
    font-size: 16px;
    padding: 12px 16px;
    color: #313034;
    border-radius: 6px; resize: none;
}

.inputFieldsFull input{

        width: 100%;
        height: 44px;
        background: #fff;
        border: 1px solid #E5E1E6;
        font-size: 16px;
        padding: 12px 16px;
        color: #313034;
        border-radius: 6px;
    
}

.inputFieldsFull label {
    font-size: 14px;
    width: 100%;
    text-align: left;
    color: #5F5E62;
}

.inputFieldsFull label b {
    min-height: 20px;
    width: 100%;
    display: block;
}

.inputFieldsFull input::placeholder{
    
            color: #C9C5CA;

            opacity: 1;
    

}


.isPhoneClass {
    position: relative;
}

.isPhoneClass cite {
    font-style: normal;
    font-size: 16px; line-height: 16px;
    color: #313034;
    position: absolute;
    left: 10px;
    top: 50px;
}

.isPhoneClass input{

        padding-left: 38px;

}

.focusList input{

        border-color: #4B3DF3;
    
}

.inputFieldsFull artical{ width: 100%; position:relative; display: block}
.inputFieldsFull artical em{ width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; position: absolute; right: 0px; top:3px; cursor: pointer;}

/* .inputFieldsFull {
    input[type="date"] {
        // &:not(.has-value) {
        //     &:before  {
        //         color: #C9C5CA;
        //         content: attr(placeholder);
        //         font-family: 'Metropolis';
        //         width: 100%;
        //     }
        // }

        // &::-webkit-datetime-edit {
        //     -webkit-appearance: none;
        //     display: none;
        //     color: transparent;
        // }

        &::-webkit-calendar-picker-indicator {
            background: url('../../../../public/images/v4/global/calendar.png') no-repeat;
            background-size: 20px;
            background-position: 98%;

        }
    }
} */

