.purchaseCntr{ width: 100%; margin: 0px; height: 100vh; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; border-radius: 8px; overflow: auto;}
.purchaseCntr > h2{ padding-bottom: 20px; color: #fff; padding-top: 30px; }
.purchaseCntr h3{ margin: 0 0 20px 0;}
.purchaseCntr button{ cursor: pointer;}

.purSelect input{ height: 38px; width: 100%; }
.purSelect [class=" css-13cymwt-control"]{ border-radius: 8px;}
.purSelect [class=" css-1u9des2-indicatorSeparator"]{ display: none;}

.formFields{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.formFields li{ width: 100%; padding: 0 0 20px 0;}
.formFields li label{ font-size: 14px; padding: 0 0 10px 0; display: flex; flex-wrap: wrap;}
.formFields li.threeIn{ width: 31%;}
.formFields li.twoIn{ width: 49%;}

.allForm{ width: 100%; margin: 10px auto; background: #fff; padding: 20px 0px 50px 0px; border-radius: 8px; }

.allForm ol { width: 100%; display: flex; justify-content: center; padding: 20px 0 30px 0;}
.allForm ol li{ background: #ddd; color: #333; width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 0 20px; position: relative;}
.allForm ol li.activated{ background: rgb(107,88,211); color: #fff;}
.allForm ol li.visited{ background: green; color: #fff;}
.allForm ol li::after{ content: ""; position: absolute; left: -100%; width: 100%; height: 2px; background: #333;}
.allForm ol li:first-child::after{ display: none;}
.allForm h3{  font-weight: 600; text-transform: uppercase; font-size: 22px; padding-top: 30px;}
.allForm section{ width: 100%; padding: 0 20px 20px 20px; border-bottom: 10px solid #dee2e6;}
.allForm section:last-child{ border-bottom: 0px;}
.nxtBtn button{ padding: 0 25px; margin-left: 10px;}
.nxtBtnss{ width: 100%; display: flex; align-items: center; justify-content: flex-end;}

.textareaManage textarea{ height: 90px;}

.purchaseCntrEdit section{ padding-left: 0px; padding-right: 0px;}
