.checkGlb {
  display: flex;
  align-items: center; flex-wrap: wrap;
}
.full{ width: 100%;}

.checkGlb input[type="checkbox"] {
  display: none;
}

.checkGlb .checkboxDesign {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  position: relative;
  border: 1px solid #E5E7EB;
  background: #fff;
  cursor: pointer;
}

.checkGlb input[type="checkbox"]:checked ~ .checkboxDesign::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #4153ef;
  border-color: #4153ef;
  /* background-image: url("../../../../public/images/v4/global/right.png"); */
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.checkGlb em {
  font-size: 16px; line-height: 21px;
  width: auto; 
  cursor: pointer;
  font-style: normal;
}

.isTitle .checkboxDesign{ margin-right: 10px;}
.isDisable{ opacity: 0.5; pointer-events: none;}
