.wbBox{ width: 100%; background: #fff; border-radius: 8px; padding: 20px 20px 20px 20px; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); margin: 5px 0 25px 0;}
.wbBox hgroup{ width: 100%;}
/* .wbBox.half{ width: 48%;} */
