.forCntr{ width: 100%; display: flex; align-items: center; justify-content: center; min-height: 100%; background: #e9e9ea; padding: 30px;}
.forgotCntrIn{max-width: 500px; width: 100%; display: flex; justify-content: space-between;  background: #fff; border-radius: 16px; position: relative; padding: 0 30px;}

.forCntr section{ width: 100%; margin-right: 0%; display: flex; align-items: center; position: relative; padding: 30px 0;}
.forCntr section ul{ width: 100%;}
.forCntr section ul li{ width: 100%; padding: 0 0 26px 0;}
.forCntr section ul li label{ width: 100%; padding: 0 0 10px 0; display: block}
.forCntr section hgroup{ width: 450px; margin: 0 auto;}
.forCntr section hgroup h2{ padding: 0px 0 25px 0; }
.forCntr section h6{ position: absolute; right: -30px; top: 15px;}
.forCntr section h6 img{ filter: grayscale(100%); }
.forCntr section h6 b{ color: #3c3c3c;}

.forCntr section hgroup h5{ position: absolute; bottom: 15px; left: 0px; right: 0; margin: auto; text-align: center; font-weight: 400; color: #4153ef; font-size: 12px;}
.forCntr section hgroup p{ font-size: 14px; font-weight: 300; padding: 0 0 35px 0; position: relative;}
.forCntr section hgroup p::after{ content: ""; position: absolute; left: 0px; bottom: 20px; width: 50%; background: #ddd; height: 2px;}
/* .loginSelect input{ height: 38px; width: 100%; }
.loginSelect [class=" css-13cymwt-control"]{ border-radius: 8px;}
.loginSelect [class=" css-1u9des2-indicatorSeparator"]{ display: none;} */
.forCntr section ul li .checkbox{ padding: 0px;}
.forCntr section ul li .checkbox em{ vertical-align: top;}

.gbtn{ border: 0px; background: none; display: flex; flex-wrap: wrap; align-items: center; font-size: 16px;}
.gbtn:hover{ text-decoration: none;}
.gbtn svg{ margin: 0 10px 0 0; font-size: 20px;}
.forgotPass{ width: 100%; display: flex; flex-wrap: wrap; justify-content: flex-end; background: none; border: 0px; margin: 10px 0 0 0;}
.forgotPass span{ border: 0px; background: none; color: #4153ef; text-decoration: underline;}
.forgotPass span:hover{ text-decoration: none;}


.forgotPasswordCntr{ width: 100%;}