
.headerCntr{ width: 100%;
    /* background: #37306B;  face one change*/
    background: #fff; 
    position: fixed; top:0px; right: 0px;
     display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; height: 65px; padding: 0 20px; z-index: 15; box-shadow: 0 0 5px #eee;}
/* .headerCntr::after{ background: #f1556c; content: ""; width: 30%; height: 0%; position: absolute; left: 0px; top:0px;     border-bottom: 65px solid transparent; border-right: 30px solid #37306B;} face one change*/

/* .headerCntr::before{ background: #fff; content: ""; width: 35%; height: 0%; position: absolute; left: 0px; top:0px;     border-bottom: 65px solid transparent; border-right: 30px solid #fff;} */

.headerCntr aside{ z-index: 1; display: flex; position: relative; padding-right: 25px; height: 100%; align-items: center;}
.headerCntr aside label{ width: 35px; height: 35px; background: #ddd; border-radius: 50px; cursor: pointer; margin: 0 0 0 0px; border: 2px solid #E6E6E6; }
.headerCntr aside label::after{ content: ""; position: absolute; left: 0px; top:0px; width: 101%; height: 101%;}
.headerCntr aside label b{ display: flex; align-items: center; justify-content: center; text-transform: uppercase; color: #fff; font-weight: 300; width: 100%; height: 100%; padding: 10px;background: #8294C4; border-radius: 50%; border: 2px solid #fff;}
.headerCntr aside i{ position: absolute; color: #313034; right: -4px; top: 7px; font-size: 25px;}
.headerCntr aside ul{ width: 100%; background: #fff; border-radius: 4px; box-shadow: 0 0 10px #ddd; position: relative; overflow: hidden;}
.headerCntr aside .ulList::after{ content: ""; border-bottom: 12px solid #fff; border-right: 9px solid transparent;  border-left: 9px solid transparent; display: inline-flex; position: absolute; right: 15px; top: 3px;}
.headerCntr aside .ulList{ width: 200px; position: absolute; right: 0px; top: 66px; padding: 15px 0 0 0;   animation: slideDown 0.3s ease;}
.headerCntr aside ul li{ padding: 0px; border-bottom: 1px solid #eee;}
.headerCntr aside ul li:last-child{ border: 0px;}
.headerCntr aside ul li a{ color: #3c3c3c; font-size: 14px; position: relative; padding: 10px 0 10px 15px; border-left: 3px solid #fff; display: block;}

/* Keyframes animation */
@keyframes slideDown {
    from {
      margin-top: 50%;
      opacity: 0;
    }
    to {
      margin-top:0px;
      opacity: 1;
    }
  }


.headerCntr aside ul li a:hover, .headerCntr aside ul li button:hover{ color: #f1556c; border-color: #ff5315; }
.headerCntr aside ul li a svg{position: absolute; left: 0px; top:0px; bottom: 0px; margin: auto;}
.headerCntr aside ul li button{ color: #6b58d3; font-weight: 700; font-size: 14px; padding: 14px 0 14px 15px; background: none; display: flex; align-items: center; justify-content: flex-start; text-align: left; display: block; border-left: 3px solid #fff; width: 100%; }
.headerCntr aside ul li button svg{ margin-right: 10px;}
.headerCntr aside h6{ font-weight: 500; font-size: 14px;  text-transform: capitalize; margin: 0 0 0 5px;}
.headerCntr cite { font-style: normal;}

.headerCntr aside{ margin-left: auto;}
.headerCntr aside button{ display: flex; background: none; padding: 0 20px 0 0; position: relative; align-items: center;}

.menuCntr{ display: flex; align-items: center; margin-right: auto; padding: 0 0 0 20px;}
.menuCntr li{ margin: 0 10px;}
.menuCntr li a{ color: #fff;}
.menuCntr li a:hover{ color: #f1556c;}

.headerCntr form{ width: 300px; z-index: 1;}
.headerCntr form input{ height: 40px; border-radius: 4px; background: #F5F5F5; color: #6c757d;}
.logoSection{ width: 258px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.logoSection svg{ font-size: 42px; cursor: pointer;}
.logoSection button{    background: #3D5EE1;
    border-radius: 10px;
    height: 38px; width: 38px; padding: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;}
.logoFullDiv{ display: none}
.logoSection hgroup{ display: flex; align-items: center;}

@media screen and (max-width:1024px) {
    .rightCover{ margin-left: 0px;}
    .headerCntr{ width: 100%;}
    .hamburgerMenu{ order:-1; margin-right: 15px;}
    .headerCntr aside h6{ display: none}
    .headerCntr form{ display: none;}
    .headerCntr aside{ padding-right: 0px;}  
    .logoSection{ width: auto!important; }
    .logoFullDivLft{ display: none;}
    .logoFullDiv{ display: flex;}
}
    