.footerDiv{ width: calc(100% - 10px); border-top: 0px solid #C9C5CA; justify-content: center; display: flex; flex-wrap: wrap; align-items: center; padding: 15px 20px 15px 20px; margin-top: auto; background: #fff; }
.footerDiv p{ font-size: 14px; line-height: 18px;  color: #808191; margin: 0px 20px 0 0; padding: 0px;}
.footerDiv ol{ display: inline-flex; margin: 0px;}
.footerDiv ol li{font-size: 14px; line-height: 18px; position: relative; padding: 0 10px;}
.footerDiv ol li a{ color: #808191;}
.footerDiv ol li a:hover{ color: #000;}
.footerDiv ol li::after{ content: ""; position: absolute; right: -1px; top:1px; height: 85%; background: #78767A; width: 1px;}
.footerDiv ol li:last-child:after{ display: none;}
.footerDiv ul{ display: inline-flex; margin: 0 0 0 auto}
.footerDiv ul li{ margin-left: 24px;}
.footerDivTop{ margin-top: 25px;}


@media screen and (max-width:1024px) {
    .footerDiv{  margin-right: 0px; width: calc(100% + 40px); margin-left: -20px; }
    .footerDiv ol{ padding-right: 15px;}
    .footerDivTop{ margin-top: 10px;}
}

@media screen and (max-width:768px) {
    .footerDiv{ padding-left: 15px}
}

@media screen and (max-width:768px) {
    .footerDiv p{ width: 100%; margin: 0px 0 5px 0; text-align: center;}
    .footerDiv ol{ width: 100%; justify-content: center;}
    .footerDiv{ padding-bottom: 0px;}
}
