/* ErrorPage.css */

.errorPage {
    width: 100%;
    display: flex;
    min-height: 100%;
    background: #e9e9ea;
    padding: 30px;
}

.errorPageIn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    background: #fff;
    border-radius: 16px;
    position: relative; flex-direction: row-reverse;
}
  
.errorPageIn aside {
    width: 44%;
    background: #4153ef;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1%;
    border-radius: 6px; color: #fff;
}
  
  
  .errorPage label{ width: 100%; display: flex; align-items: center; justify-content: center;}

.errorPageIn h2{ padding-bottom: 20px;}

.logerr{ margin-bottom: 30px;}
.errorPage p{ padding-bottom: 50px; }